@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import '/node_modules/bootstrap/scss/bootstrap.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

h1{
    font-family: 'Bebas Neue', sans-serif;
}

